<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table align-middle">
        <thead>
          <tr>
            <th scope="col">UserId</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Age</th>
            <th scope="col">Role</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <!-- <th scope="row">Default</th> -->
            <div *ngIf="user.role==='ADMIN'">
                          <td>{{user.userId}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.age}}</td>
            <td>{{user.role}}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="update(user)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Edit
              </button>
              <button class="btn btn-danger" (click)="deleteRow(user.userId!)">Delete</button>
            </td>
            </div>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateForm">
          <div class="mb-3">
            <label for="userId" class="form-label">User ID</label>
            <input type="text" formControlName="userId" class="form-control" id="userId">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" formControlName="email" class="form-control" id="email">
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" formControlName="username" class="form-control" id="username">
          </div>
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" id="firstName">
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" id="lastName">
          </div>
          <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="text" formControlName="age" class="form-control" id="age">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="editUser()">Update</button>
        <!-- <button type="button" class="btn btn-primary">Understood</button> -->
      </div>
    </div>
  </div>
</div>